<div class="container-fluid">
    <div class = "row">
        <div class= "col text-center">
            <h1>Por favor leia o QrCode para gerar uma senha</h1>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class = "row justify-content-center">
        <div class="col-2"></div>
        <div class= "col-8">
            <%= image_tag "password-qrcode.png" %>
        </div>
    </div>
</div>
