<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-9 align-self-center">
            <div class="border border-3">
                <p class="fs-3 text-center my-5">
                    Próxima senha:
                </p>
                <p class="fs-1 text text-center" id="next_password_number">
                    ???
                </p>
                <p class="fs-3 text-center my-5">
                    Se dirigir ao guichê <span id="next_password_guiche">???</span>
                </p>
            </div>
        </div>

        <div class="col-3 align-self-center">
            <div class="border border-3">
                <p class="fs-3 text-center my-3">
                    Senhas Anteriores:
                </p>
                <div class="fs-4 text-center my2" id="previous_passwords">
                </div>
            </div>
        </div>
    </div>
</div>